img.center_img_title{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.mini_width_custom{
    width: 10%;
}
div.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
hr.mini_blink{
    border: none;
    height: 5px;
}