.btn {
    position: relative;
    padding: 1.5rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
    border-radius: 10px;
}

.matrix {
    background: #000;
    border: 2px solid #636363;
    color: #636363;
}

.code-rain {
    position: absolute;
    inset: 0;
    background: linear-gradient(
            180deg,
            rgba(99, 99, 99, 0) 0%,
            rgba(99, 99, 99, 0.2) 50%,
            rgba(99, 99, 99, 0) 100%
    );
    opacity: 0;
    transition: 0.3s;
}

.matrix:hover .code-rain {
    opacity: 1;
    animation: rain 1s linear infinite;
}

@keyframes rain {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}