img.main_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
hr.custom_blank{
    border: none;
    height: 5px;
}
.fading_section{
    transition: opacity 1s ease;
}
.big_text{
    font-size: 40px;
}