.mini_width_custom{
    width: 150px;
}
/*grid option*/
.grid_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*gap: 20px;*/
    max-width: 800px;
    margin: 0 auto;
}
.grid_container > div{
    text-align: center;
}
div.image_container{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 25px
}
/*making the image the center of the screen*/
img.image_center_custom{
    display: block;
    margin: 100px auto;
    width: 550px;
}
span.red_par{
    color: red;
}
div.image_text_container{
    display: flex;
    justify-content: center;
}
div.elements_container{
    display: flex;
    flex-direction: column;
}
span.underline{
    text-decoration: underline;
}