.mini_width_custom{
    width: 150px;
}
/*grid option*/
.grid_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*gap: 20px;*/
    max-width: 800px;
    margin: 0 auto;
}
.grid_container > div{
    text-align: center;
}
div.image_container{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 25px
}