body{
    background-color: black;
}
p, h1, h2, h3, h4, h5, h6{
    color: white;
}

@font-face {
    font-family: 'MyMedievalFont';
    src: url('assests/Le Mano-Bold.ttf') format('truetype');
}
.font_static{
    font-family: 'MyMedievalFont', serif;
    text-shadow:
            0 0 10px #a8a8a8,
            0 0 15px #fff,
            0 0 25px #a8a8a8,
            0 0 50px #666666,
            0 0 90px #666666,
            0 0 100px #666666,
            0 0 110px #666666,
            0 0 160px #666666;
}
.font{
    font-family: 'MyMedievalFont', serif;
    text-shadow:
            0 0 10px #a8a8a8,
            0 0 15px #fff,
            0 0 25px #a8a8a8,
            10px 5px 50px #666666,
            15px 10px 90px #666666,
            20px 15px 100px #666666,
            25px 20px 110px #666666,
            30px 25px 160px #666666;
}
.font:hover{
    color: black; /* White text color */
    text-shadow:
            0 0 5px #666666,
            0 0 10px #a8a8a8,
            0 0 20px #666666,
            10px 5px 55px #fff,
            15px 10px 95px #fff,
            20px 15px 105px #fff,
            25px 20px 115px #fff,
            30px 25px 165px #fff;
}
p.mini_width{
    width: 15%;
}
div.font_container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%
}
.center_text{
    text-align: center;
}
hr.blank{
    border: none;
    height: 25px;
}
div.button_container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 300px;
}
img.center_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
div.text_container_custom{
    display: flex;
    margin-left: auto;
    margin-right: auto ;
    justify-content: center;
    text-align: center;
    width: 450px;
}
.starting_empty{
    opacity: 0;
}