body{
    background-color: black;
}
p, h1, h2, h3, h4, h5, h6{
    color: white;
}

.font{
    font-family: "connemara-old-style", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff; /* White text color */
    text-shadow:
            0 0 10px #a8a8a8,
            0 0 15px #fff,
            0 0 25px #a8a8a8,
            0 0 40px #666666,
            0 0 80px #666666,
            0 0 90px #666666,
            0 0 100px #666666,
            0 0 150px #666666;
}
.font:hover{
    color: black; /* White text color */
    text-shadow:
            0 0 5px #666666,
            0 0 10px #a8a8a8,
            0 0 20px #666666,
            0 0 45px #fff,
            0 0 85px #fff,
            0 0 95px #fff,
            0 0 105px #fff,
            0 0 155px #fff;
}

div.font_container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%
}
.center_text{
    text-align: center;
}