img.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img.center_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.font_container_custom{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%
}
div.text_container_custom{
    display: flex;
    margin-left: auto;
    margin-right: auto ;
    justify-content: center;
    text-align: center;
    width: 300px;
}
div.button_container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 300px;
}
.starting_empty{
    opacity: 0;
}
p.book_section{
    color: red;
}
p.type_link{
    color: red;
    text-decoration: underline;
}