img.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img.center_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.font_container_custom{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    gap: 10px;
}
p.book_section{
    color: red;
}
p.type_link{
    color: red;
    text-decoration: underline;
}
div.img_container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}