div.video_overlay_container{
    width: 240px;
    margin: 0 auto;
    position: relative;
}
img.clickable-image{
    display: block;
    max-width: 100%;
    cursor: pointer;
}
#overlayVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    cursor: pointer;
}